<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App de Cadastros</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>

<body>

  <div class="container">
  
    <h1>Cadastre uma pessoa em nosso banco de dados</h1>
    
    <section class="row">
      <form action="salvar-pessoa" method="post" class="col s12">
        <div class="row">
          <div class="col s12 m5">
            <label>Nome</label>
            <input type="text" name="nome" required>
          </div>
          <div class="col s12 m5">
            <label>Sobrenome</label>
            <input type="text" name="sobrenome" required>
          </div>
          <div class="col s12 m2">
            <label>Idade</label>
            <input type="number" name="idade" required>
          </div>
          <div class="col s12 m4">
            <input type="submit" value="Salvar">
          </div>
        </div>
      </form>
    </section>
  
    <a href="/lista-de-pessoas">Ver lista completa</a>
  
  </div>


  <div class="container">
  
    <section th:if="${pessoas != null}">
  
      <h2>Pessoas cadastradas</h2>
  
      <table>
    
        <thead>
          <th>ID</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Idade</th>
        </thead>
    
        <tbody>
          <tr th:each = "pessoa : ${pessoas}">
            <td th:text = "${pessoa.id}"></td>
            <td th:text = "${pessoa.nome}"></td>
            <td th:text = "${pessoa.sobrenome}"></td>
            <td th:text = "${pessoa.idade}"></td>
          </tr>
        </tbody>
    
      </table>
  
    </section>
  
  </div>
  
  <footer th:insert="~{includes/footer :: footer}"></footer>
  
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>