<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App de Cadastros</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>

<body>

  <h1>Cadastre uma pessoa em nosso banco de dados</h1>
  
  <form action="salvar-pessoa" method="post">
    <label>Nome</label>
    <input type="text" name="nome" required>
    <label>Sobrenome</label>
    <input type="text" name="sobrenome" required>
    <label>Idade</label>
    <input type="number" name="idade" required>
    <input type="submit" value="Salvar">
  </form>
  
  <a href="/lista-de-pessoas">Ver lista completa</a>
  
  <section th:if="${pessoas != null}">
  
    <h2>Pessoas cadastradas</h2>
  
    <table>
    
      <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Idade</th>
      </thead>
    
      <tbody>
        <tr th:each = "pessoa : ${pessoas}">
          <td th:text = "${pessoa.id}"></td>
          <td th:text = "${pessoa.nome}"></td>
          <td th:text = "${pessoa.sobrenome}"></td>
          <td th:text = "${pessoa.idade}"></td>
        </tr>
      </tbody>
    
    </table>
  
  </section>
  
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>