<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{includes/head :: head}"></head>

<body>

  <div class="container">
  
    <h1>Cadastre uma pessoa em nosso banco de dados</h1>
    
    <section class="row" th:insert="~{includes/cadastro/form-cadastro-pessoa :: register-form}"></section>
    
    <section class="row" th:insert="~{includes/cadastro/form-buscar-pessoa :: search-by-name-form}"></section>
    
    <a href="/lista-de-pessoas" class="waves-effect waves-teal btn-flat"><i class="material-icons left">people</i>Ver lista completa</a>
  
  </div>


  <div class="container" th:if="${pessoas != null}">
  
    <h2>Pessoas cadastradas</h2>
    
    <section th:insert="~{includes/cadastro/table-pessoas-cadastradas :: table-pessoas}"></section>
  
  </div>
  
  <footer th:insert="~{includes/footer :: footer}"></footer>
  
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>