<!DOCTYPE html>
<html>
  <head th:insert="~{includes/head :: head}"></head>
<body>

  <div class="container">
  
    <h1>Dados informados</h1>
    
    <h6>Nome: <span th:text="${pessoa.nome}"></span></h6>
    <h6>Sobrenome: <span th:text="${pessoa.sobrenome}"></span></h6>
    <h6>Idade: <span th:text="${pessoa.idade}"></span></h6>
    
    <section class="row">
      
      <h5>Telefones</h5>
      
      <table class="highlight">
      
        <thead>
          <th>Tipo</th>
          <th>Número</th>
          <th>Excluir</th>
        </thead>
        
        <tbody>
          <tr th:each="telefone : ${telefones}">
            <td th:text="${telefone.tipo}"></td>
            <td th:text="${telefone.numero}"></td>
            <td><a th:href="@{/detalhes/{pessoaId}/excluirTelefone/{telefoneId}(pessoaId=${pessoa.id}, telefoneId=${telefone.id})}"><i class="material-icons">delete</i></a></td>
          </tr>
        </tbody>
        
      </table>
      
    </section>
    
    <section class="row">
    
      <h4>Cadastrar telefone</h4>
      
      <div th:each="mensagemDeErro : ${mensagensDeErros}">
        <p th:text="${mensagemDeErro}"></p>
      </div>
    
      <form th:action="@{/detalhes/{id}/registrarTelefone(id=${pessoa.id})}" method="post" class="col s12">
        <div class="row">
          <div class="col s12 m9">
            <label>Número (xx123456789)</label>
            <input title="Insira seu número de telefone utilizando apenas dígitos e incluindo o código de área" type="number" name="numero" required>
          </div>
          <div class="col s12 m3">
            <label>Tipo</label>
            <p>
              <label>
                <input type="radio" name="tipo" value="celular" checked>
                <span>Celular</span>
              </label>
              <label>
                <input type="radio" name="tipo" value="residencial">
                <span>Residencial</span>
              </label>
            </p>
          </div>
          <div class="col s12">
            <button type="submit" class="btn waves-effect waves-light"><i class="material-icons left">save</i>Salvar</button>
          </div>
        </div>
      </form>
      
    </section>
    
    <a href="/lista-de-pessoas" class="btn"><i class="material-icons left">arrow_back</i>Voltar</a>

  </div>
  
  <footer th:insert="~{includes/footer :: footer}"></footer>
  
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>