<!DOCTYPE html>
<html>
  <head th:insert="~{includes/head :: head}"></head>
<body>

  <div class="container">
  
    <h1>Dados informados</h1>
    
    <h6>Nome: <span th:text="${pessoa.nome}"></span></h6>
    <h6>Sobrenome: <span th:text="${pessoa.sobrenome}"></span></h6>
    <h6>Idade: <span th:text="${pessoa.idade}"></span></h6>
    
    <section class="row">
      
      <h5>Telefones</h5>
      
      <table class="highlight">
      
        <thead>
          <th>Tipo</th>
          <th>Número</th>
          <th>Excluir</th>
        </thead>
        
        <tbody>
          <tr th:each="telefone : ${telefones}">
            <td th:text="${telefone.tipo}"></td>
            <td th:text="${telefone.numero}"></td>
            <td><a th:href="@{/detalhes/{pessoaId}/excluirTelefone/{telefoneId}(pessoaId=${pessoa.id}, telefoneId=${telefone.id})}"><i class="material-icons">delete</i></a></td>
          </tr>
        </tbody>
        
      </table>
      
    </section>
    
    <section class="row" th:insert="~{includes/cadastro/form-cadastro-telefone :: telefone-form}"></section>
    
    <a href="/lista-de-pessoas" class="btn"><i class="material-icons left">arrow_back</i>Voltar</a>

  </div>
  
  <footer th:insert="~{includes/footer :: footer}"></footer>
  
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/detalhes.js"></script>
</body>
</html>