<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{includes/head :: head}"></head>

<body>

  <div class="container">
  
    <h1>Edição de dados</h1>
    
    <section class="row">
      <form action="editar-pessoa" method="post" class="col s12" th:object="${pessoa}">
        <div class="row">
          <div class="col s12 m1">
            <label>ID</label>
            <input type="text" name="id" th:field="*{id}" disabled>
          </div>
          <div class="col s12 m5">
            <label>Nome</label>
            <input type="text" name="nome" th:field="*{nome}" required>
          </div>
          <div class="col s12 m5">
            <label>Sobrenome</label>
            <input type="text" name="sobrenome" th:field="*{sobrenome}" required>
          </div>
          <div class="col s12 m1">
            <label>Idade</label>
            <input type="number" name="idade" th:field="*{idade}" required>
          </div>
          <div class="col s12 m4">
            <button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">save</i>Confirmar</button>
          </div>
        </div>
      </form>
    </section>
    
    <a href="/lista-de-pessoas" class="waves-effect waves-teal btn-flat">Cancelar e retornar</a>
  
  </div>