<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App de Cadastros</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>

<body>
  <div class="container">
    <h1>Seu app de cadastros!</h1>
    <a href="/cadastro-de-pessoa" class="btn waves-effect waves-teal">Cadastre uma pessoa</a>
  </div>
  
  <footer th:insert="~{includes/footer :: footer}"></footer>
  
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>